@model PeterBridger.BudTest.Web.Features.Country.CountryQuery
@{
    Html.EnableClientValidation(false);
}

<h1>World Bank: Country search</h1>

@using (Html.BeginForm("index", "Country", FormMethod.Get, new { style = "margin-bottom:20px" }))
{
    <div>
        @Html.TextBoxFor(x => x.Iso2Code, new { maxlength = "3", required = "required", placeholder = "e.g. GB"})
    </div>
    <div>
        @Html.ValidationMessageFor(x => x.Iso2Code)
    </div>

    <div>
        <button type="submit">Search</button>
    </div>
}
